---
// Component Imports
import Logo from "../components/Logo.svelte";
import Button from "../components/Button.svelte";
import Link from "../components/Link.svelte";
import "../styles/bulma.min.css";


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
    <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    </head>
    <body>
	<section class="hero is-fullheight is-info">
	    <div class="hero-body">
		<Logo />
		<div class="columns is-centered">
		    <div class="column is-4">
			<h1 class="title is-size-1">
			    Trauma life support<br />
			    Effectiveness<br />
			    Research<br />
			    Network
			</h1>
		    </div>
		    <div class="column is-4">
			<p class="subtitle">
			    TERN is a research network started in 2021
			    aiming to assess the effects of trauma
			    life support training programs on patient
			    outcomes.</p>
		    </div>
		</div>
	    </div>
	</section>
    </body>
</html>
