---
// Component Imports
import Title from "../components/Title.svelte";
import Link from "../components/Link.svelte";
import Navbar from "../components/Navbar.svelte";
import NewsContainer from "../components/NewsContainer.svelte";
import "../styles/bulma.min.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
    <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    </head>
    <body>
	<section class="hero is-large is-info">
	    <div class="hero-head">
		<Navbar />
	    </div>
	    <div class="hero-body">
		<div class="columns is-centered">
		    <div class="column is-4">
			<Title />
		    </div>
		    <div class="column is-4">
			<p class="subtitle is-size-3">
			    TERN is a research network started in 2021
			    aiming to assess the effects of trauma
			    life support training programs on patient
			    outcomes.
			</p>
			<buttons>
			    <button class="button is-medium is-outlined is-info is-inverted">
				Read More
			    </button>
			</buttons>
		    </div>
		    <div class="column is-4">
			<NewsContainer />
		    </div>
		</div>
	    </div>
	</section>
    </body>
</html>
