---
// Component Imports
import Hero from "../components/Hero.svelte";
import Button from "../components/Button.svelte";
import Link from "../components/Link.svelte";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
    <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/globals.css')}>
    </head>
    <body>
	<Hero>
	    <h1 class="title">TERN</h1>
	    <h2 class="subtitle">
		A research network started in 2021 aiming to assess the
		effects of trauma life support training programs
		on patient outcomes.
	    </h2>
	    <Link>
		Read More
	    </Link>
	</Hero>
    </body>
</html>
