---
import Logo from "./Logo.svelte";
---

<style>
 @import "../styles/bulma.min.css";
</style>

<footer class="footer">
    <div class="content has-text-centered">
	<Logo />
    </div>
    <div class="content has-text-centered">
    <p>
        This website is open source on <a href="https://github.com/martingerdin/tern.network">GitHub</a>.
    </p>
  </div>
</footer>
