---
import Logo from "./Logo.astro";
---

<style>
  a {
    color: white;
  }
</style>

<section class="has-background-info has-text-white">
  <nav class="level is-mobile">
    <p class="level-item has-text-centered">
      <a href="/">Home</a>
    </p>
    <p class="level-item has-text-centered">
      <a href="#about">About</a>
    </p>
    <p class="level-item has-text-centered">
      <a href="/"><Logo /></a>
    </p>
    <p class="level-item has-text-centered">
      <a href="#news">News</a>
    </p>
    <p class="level-item has-text-centered">
      <a href="mailto:martin.gerdin@ki.se">Contact</a>
    </p>
  </nav>
</section>
