---
const { src = "", url = "" } = Astro.props;
---

<style>
 @import "../styles/bulma.min.css";

 a {
     color: black;
     text-decoration: underline;
 }
</style>

<article class="media">
    {src !== "" &&
    (
    <figure class="media-left">
	<p class="image is-64x64">
	    <img src={`https://${src}?w=64&h=64&fit=fill`}>
	</p>
    </figure>
    )}
    <div class="media-content">
	<div class="content">
	    <p>
		<strong>
		    <slot name="title"></slot>
		</strong>
		<small>
		    <slot name="author"></slot>
		</small>
		<small>
		    <slot name="date"></slot>
		</small>
		<br>
		<slot name="content">
		</slot>
		{url !== "" && <a href={url}>More</a>}
	    </p>
	</div>
</article>
