---
import NewsContainer from "./NewsContainer.astro";
const { news } = Astro.props;
---

<style>
 @import "../styles/bulma.min.css";
</style>

<section class="section">
    <div class="container">
	<h1 class="title" id="news">News</h1>
	<NewsContainer news={news} />
    </div>
</section>
