<style>
  a {
    text-decoration: underline;
    text-decoration-style: dashed;
  }
</style>

<section class="hero is-medium is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title">Ongoing Pilot Trial <a href="https://clinicaltrials.gov/ct2/show/NCT05417243">#NCT05417243</a></h2>
      <div class="buttons is-centered">
	<button class="button is-light is-outlined is-large is-rounded" href="https://bmjopen.bmj.com/content/12/4/e057504.full">Published Protocol</button>
      </div>
    </div>
  </div>
</section>
