---
import contentful from "contentful";
import Title from "./Title.astro";

/*
const space = process.env.CONTENTFUL_SPACE_ID ?? import.meta.env.CONTENTFUL_SPACE_ID;
const accessToken = process.env.CONTENTFUL_DELIVERY_API_KEY ?? import.meta.env.CONTENTFUL_DELIVERY_API_KEY;

const client = contentful.createClient({
space: space,
accessToken: accessToken,
});

const enrolledPatients = await client.getEntry("78TOLnzeDAxvjhMRnnsK2I");
const { numberOfEnrolledPatients, dateAdded } = enrolledPatients.fields;
const totalEnrolledPatients = numberOfEnrolledPatients.reduce((a, b) => a + b, 0);
const targetSampleSize = 306;
console.log(enrolledPatients);
*/
---

<style>
 a {
     text-decoration: underline;
     text-decoration-style: dashed;
 }

 a.button {
     text-decoration: none;
 }

 div.box {
     max-width: 1000px;
     margin: auto;
 }
</style>

<section class="hero is-medium is-dark">
    <div class="hero-body">
	<div class="container has-text-centered">
	    <Title text="Pilot Trial Completed!" />
	    <h3 class="title">362 Participants Enrolled</h3>
	    <div class="content">
		The pilot study aimed to assess the feasibility of
		conducting a cluster randomised controlled trial
		comparing Advanced Trauma Life Support® (ATLS®) and
		Primary Trauma Care (PTC) with standard care. Seven
		hospitals across India participated and the trial
		included adult patients who presented with history of
		trauma. The study included both participant and
		feasibility outcomes. The primary participant outcome
		was all-cause mortality within 30 days from the time
		of arrival to the emergency department. We are
		currently writing up the results of this pilot, so
		stay tuned!
	    </div>
	    <h3 class="title">More</h3>
	    <div class="buttons is-centered">
		{[
			{ href: "https://doi.org/10.1101/2024.03.13.24304236", text: "Pre-print" },
			{ href: "https://bmjopen.bmj.com/content/12/4/e057504.full", text: "Published Protocol" },
			{ href: "https://clinicaltrials.gov/ct2/show/NCT05417243", text: "ClinicalTrials.gov Record" }
		].map(link => (
			<a class="button is-light is-outlined is-large is-rounded" href={link.href}>
				<span>{link.text}</span>
				<span class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
					</svg>
				</span>
			</a>
		))}
	    </div>
	</div>
    </div>
</section>
