---
const { text = "" } = Astro.props;
---

<style>
 @import "../styles/bulma.min.css";

 div {
     margin: 0rem 4rem 4rem 4rem;
 }
 
 h1 {
     transform: skew(-7deg);
 }

 @media only screen and (max-width: 768px) {
     div {
	 margin: 0 0 4rem 0;
     }
     
     h1 {
	 font-size: 3rem;
     }
 }

 span {
     font-size: 4rem;
     background: black;
     padding: 0 0.5rem 0 0.5rem;
 }
</style>

<div class="has-text-centered">
    <h1 class="title">
	<span>{text}</span>
    </h1>
</div>
